In [3]:
import pandas as pd
import numpy as np

df=pd.DataFrame(np.random.randn(5,3),index=['a','c','e','f','h'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f','g','h'])
print("Original dataframe with NAN \n",df)
print("\n")
print("Dropped Dataframe\n",df.dropna())

Original dataframe with NAN
         one       two     three
a  0.254325 -0.270105  0.216457
b       NaN       NaN       NaN
c  1.703515 -1.152511 -0.284637
d       NaN       NaN       NaN
e -1.187178 -1.350827 -1.499830
f -1.470147 -1.158407  0.677321
g       NaN       NaN       NaN
h  1.260432 -1.954604  1.873601


Dropped Dataframe
         one       two     three
a  0.254325 -0.270105  0.216457
c  1.703515 -1.152511 -0.284637
e -1.187178 -1.350827 -1.499830
f -1.470147 -1.158407  0.677321
h  1.260432 -1.954604  1.873601

In [5]:
df=pd.DataFrame(np.random.randn(3,3),index=['a','c','e'],columns=['one','two','three'])
df=df.reindex(['a','b','c'])
print("Original dataframe:\n",df)
print("\n")
print("NaN replaced with 'O':\n")
print(df.fillna(0))

Original dataframe:
         one       two     three
a -1.367171 -0.302599  0.324289
b       NaN       NaN       NaN
c -0.207311  0.756679 -0.166820


NaN replaced with 'O':

        one       two     three
a -1.367171 -0.302599  0.324289
b  0.000000  0.000000  0.000000
c -0.207311  0.756679 -0.166820

In [6]:
df=pd.DataFrame({'one':[10,20,30,40,50,200],'two':[1000,0,30,40,50,60]})
print("\nOriginal Dataframe:\n",df)
print("\n DataFrame with replaced values:\n")
print(df.replace({1000:10,2000:60,40:400,0:100}))

Original Dataframe:
    one   two
0   10  1000
1   20     0
2   30    30
3   40    40
4   50    50
5  200    60

 DataFrame with replaced values:

   one  two
0   10   10
1   20  100
2   30   30
3  400  400
4   50   50
5  200   60

In [7]:
df=pd.DataFrame(np.random.randn(5,3),index=['a','c','e','f','h'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f','g','h'])
print("\nOriginal DataFrame:\n",df)
print("\n NaN-Filled with forward values:\n")
print(df.fillna(method='pad'))
print("\nNaN-Filled with Background values:\n")
print(df.fillna(method='bfill'))

Original DataFrame:
         one       two     three
a -0.306268  1.508422 -0.777255
b       NaN       NaN       NaN
c -0.308485  0.112959  1.845124
d       NaN       NaN       NaN
e -1.400140 -0.139221 -0.488573
f -1.023274  0.176940  0.112514
g       NaN       NaN       NaN
h  1.109154 -1.848553  1.436655

 NaN-Filled with forward values:

        one       two     three
a -0.306268  1.508422 -0.777255
b -0.306268  1.508422 -0.777255
c -0.308485  0.112959  1.845124
d -0.308485  0.112959  1.845124
e -1.400140 -0.139221 -0.488573
f -1.023274  0.176940  0.112514
g -1.023274  0.176940  0.112514
h  1.109154 -1.848553  1.436655

NaN-Filled with Background values:

        one       two     three
a -0.306268  1.508422 -0.777255
b -0.308485  0.112959  1.845124
c -0.308485  0.112959  1.845124
d -1.400140 -0.139221 -0.488573
e -1.400140 -0.139221 -0.488573
f -1.023274  0.176940  0.112514
g  1.109154 -1.848553  1.436655
h  1.109154 -1.848553  1.436655

C:\Users\TCS\AppData\Local\Temp\ipykernel_13640\3893421300.py:5: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(df.fillna(method='pad'))
C:\Users\TCS\AppData\Local\Temp\ipykernel_13640\3893421300.py:7: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(df.fillna(method='bfill'))

In [8]:
df=pd.DataFrame(np.random.randn(5,3),index=['a','c','e','f','h'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f','g','h'])
print("\nOriginal Dataframe:\n",df)
print("\nNaN-with True fill:\n")
print(df['one'].isnull())

Original Dataframe:
         one       two     three
a -0.775137 -0.098342  0.153622
b       NaN       NaN       NaN
c -0.351245 -1.842569 -0.105067
d       NaN       NaN       NaN
e -0.263037 -0.253034 -0.005100
f -1.088925 -0.730709  1.654353
g       NaN       NaN       NaN
h  1.217844 -1.414430  0.263312

NaN-with True fill:

a    False
b     True
c    False
d     True
e    False
f    False
g     True
h    False
Name: one, dtype: bool