In [5]:
"""Data Wrangling 1"""
import pandas as pd
data1={"name":["Sally","Mary","John"],"age":[50,40,30]}
data2={"qualified":[True,False,False]}
df1=pd.DataFrame(data1)
print("Original DataFrame1:\n",df1)
df2=pd.DataFrame(data2)
print("Original DataFrame2:\n",df2)
newdf=df1.join(df2)
print("\n Combination of DF 1 and 2\n",newdf)

Original DataFrame1:
     name  age
0  Sally   50
1   Mary   40
2   John   30
Original DataFrame2:
    qualified
0       True
1      False
2      False

 Combination of DF 1 and 2
     name  age  qualified
0  Sally   50       True
1   Mary   40      False
2   John   30      False

In [4]:
import pandas as pd
df1=pd.DataFrame([[1,2],[3,4]])
df2=pd.DataFrame([[5,6],[7,8]])
def myfunc(a,b):
    if(a.sum()>b.sum()):
        return a
    else:
        return b
print("original 1\n",df1)
print("original 2\n",df2)
print("combine 1 and 2 using combine function with condition\n",df1.combine(df2,myfunc))

original 1
    0  1
0  1  2
1  3  4
original 2
    0  1
0  5  6
1  7  8
combine 1 and 2 using combine function with condition
    0  1
0  5  6
1  7  8

In [6]:
import pandas as pd
data1={"name":["Sally","Mary","John"],"age":[50,40,30]}
data2={"name":["Sane","Pete","Mickey"],"age":[77,44,22]}
df1=pd.DataFrame(data1)
df2=pd.DataFrame(data2)
print("\n Original 1:\n",df1)
print("\n Original 2:\n",df2)
newdf=df1.merge(df2,how='right')
print("Merged operation:\n",newdf)

 Original 1:
     name  age
0  Sally   50
1   Mary   40
2   John   30

 Original 2:
      name  age
0    Sane   77
1    Pete   44
2  Mickey   22
Merged operation:
      name  age
0    Sane   77
1    Pete   44
2  Mickey   22

In [8]:
import pandas as pd
df=pd.DataFrame({'team':['A','B','C','D'],'points':[88,91,99,93],'assists':[12,34,56,78],'rebounds':[22,33,44,55]})
print("original\n",df)
#reshaping
df=pd.melt(df,id_vars='team',value_vars=['points','assists','rebounds'])
print("\n Reshaped DF:\n",df)

original
   team  points  assists  rebounds
0    A      88       12        22
1    B      91       34        33
2    C      99       56        44
3    D      93       78        55

 Reshaped DF:
    team  variable  value
0     A    points     88
1     B    points     91
2     C    points     99
3     D    points     93
4     A   assists     12
5     B   assists     34
6     C   assists     56
7     D   assists     78
8     A  rebounds     22
9     B  rebounds     33
10    C  rebounds     44
11    D  rebounds     55

In [19]:
"""Data Wrangling 2"""
data={'Name':['Jai','Prince','Mark'],'Age':[19,20,20],'Gender':['M','F','M'],'Marks':[90,'NaN',97]}
df=pd.DataFrame(data)
print("Original DataFrame:\n",df)
c=avg=0
for ele in df['Marks']:
    if str(ele).isnumeric():
        c+=1
        avg+=ele
avg/=c
df=df.replace(to_replace="NaN",value=avg)
print("\nreplacing NaN with average marks:\n",df)

#Filter
df=df[df['Marks']>=91]
#Remove age row
df=df.drop(['Age'],axis=1)
#Display data
print("\n Filtered and Dropped function:\n",df)


data1={'Name':['Jap','Park','Moe'],'Age':[23,22,25],'Gender':['M','F','M'],'Marks':[90,89,97]}
d1=pd.DataFrame(data1)
print("\nDataFrame1:\n",df)
print("\nDataFrame2\n",d1)
#Concatenate
print("\n Concatenation\n",pd.concat([df,d1]))

Original DataFrame:
      Name  Age Gender Marks
0     Jai   19      M    90
1  Prince   20      F   NaN
2    Mark   20      M    97

replacing NaN with average marks:
      Name  Age Gender  Marks
0     Jai   19      M   90.0
1  Prince   20      F   93.5
2    Mark   20      M   97.0

 Filtered and Dropped function:
      Name Gender  Marks
1  Prince      F   93.5
2    Mark      M   97.0

DataFrame1:
      Name Gender  Marks
1  Prince      F   93.5
2    Mark      M   97.0

DataFrame2
    Name  Age Gender  Marks
0   Jap   23      M     90
1  Park   22      F     89
2   Moe   25      M     97

 Concatenation
      Name Gender  Marks   Age
1  Prince      F   93.5   NaN
2    Mark      M   97.0   NaN
0     Jap      M   90.0  23.0
1    Park      F   89.0  22.0
2     Moe      M   97.0  25.0

In [23]:
"""Data Wrangling 3"""
import pandas as pd
cardata={'Brand':['BMW','MERC','AUDI','BMW','MERC','AUDI'],'Year':[2019,2020,2012,2019,2020,2012],'Sold':[5,6,7,5,6,7]}
df=pd.DataFrame(cardata)
print(df)
#Group data when year=2019
group1=df.groupby('Year')
print("\nGrouping the year 2019\b",group1.get_group(2019))

  Brand  Year  Sold
0   BMW  2019     5
1  MERC  2020     6
2  AUDI  2012     7
3   BMW  2019     5
4  MERC  2020     6
5  AUDI  2012     7

Grouping the year 201   Brand  Year  Sold
0   BMW  2019     5
3   BMW  2019     5

In [29]:
data1={'Name':['Jap','Park','Moe','MArk','Tez','Park','Moe'],'Age':[23,22,25,24,32,32,25],'Gender':['M','F','M','M','F','F','M'],'Marks':[90,89,97,90,91,89,97]}
df=pd.DataFrame(data1)
print(df)
print("\nEliminating the duplicate\n")
puredata=df[~df.duplicated('Age')]
print("\nPure Date\n",puredata)

   Name  Age Gender  Marks
0   Jap   23      M     90
1  Park   22      F     89
2   Moe   25      M     97
3  MArk   24      M     90
4   Tez   32      F     91
5  Park   32      F     89
6   Moe   25      M     97

Eliminating the duplicate


Pure Date
    Name  Age Gender  Marks
0   Jap   23      M     90
1  Park   22      F     89
2   Moe   25      M     97
3  MArk   24      M     90
4   Tez   32      F     91

In [32]:
dat1=pd.DataFrame({'ID':[1,2,3,4,5],'Name':['Tez','Rex','Zuck','Po','Ip'],'Branch':["Mech","EEE","Ece","FT","BT"]})
print(dat1)
fee=pd.DataFrame({'ID':[1,2,3,4,5],"Pending":['300','nil','900','1000','80']})
print(fee)
print("\nMereged DataFrame\n",pd.merge(dat1,fee,on='ID'))

   ID  Name Branch
0   1   Tez   Mech
1   2   Rex    EEE
2   3  Zuck    Ece
3   4    Po     FT
4   5    Ip     BT
   ID Pending
0   1     300
1   2     nil
2   3     900
3   4    1000
4   5      80

Mereged DataFrame
    ID  Name Branch Pending
0   1   Tez   Mech     300
1   2   Rex    EEE     nil
2   3  Zuck    Ece     900
3   4    Po     FT    1000
4   5    Ip     BT      80