In [3]:
'''LOAD'''
import pandas as pd
import numpy as np

d=pd.read_csv(r"C:\Users\TCS\Videos\ML\Load\employees - employees.csv")
print(d)

    First Name  Gender  Start Date Last Login Time  Salary  Bonus %  \
0      Douglas    Male    8/6/1993        12:42 PM   97308    6.945
1       Thomas    Male   3/31/1996         6:53 AM   61933    4.170
2        Maria  Female   4/23/1993        11:17 AM  130590   11.858
3        Jerry    Male    3/4/2005         1:00 PM  138705    9.340
4        Larry    Male   1/24/1998         4:47 PM  101004    1.389
..         ...     ...         ...             ...     ...      ...
995      Henry     NaN  11/23/2014         6:09 AM  132483   16.655
996    Phillip    Male   1/31/1984         6:30 AM   42392   19.675
997    Russell    Male   5/20/2013        12:39 PM   96914    1.421
998      Larry    Male   4/20/2013         4:45 PM   60500   11.985
999     Albert    Male   5/15/2012         6:24 PM  129949   10.169

    Senior Management                  Team
0                True             Marketing
1                True                   NaN
2               False               Finance
3                True               Finance
4                True       Client Services
..                ...                   ...
995             False          Distribution
996             False               Finance
997             False               Product
998             False  Business Development
999              True                 Sales

[1000 rows x 8 columns]

In [5]:
df=pd.DataFrame(d)
print(df.columns)#Prints Column heading

Index(['First Name', 'Gender', 'Start Date', 'Last Login Time', 'Salary',
       'Bonus %', 'Senior Management', 'Team'],
      dtype='object')

In [6]:
print(df.shape)#prints no of rows and columns

(1000, 8)

In [8]:
print(df['Gender'])#To get particular value

0        Male
1        Male
2      Female
3        Male
4        Male
        ...
995       NaN
996      Male
997      Male
998      Male
999      Male
Name: Gender, Length: 1000, dtype: object

In [9]:
print(df[2:5])#To Extract or Slice the table values

  First Name  Gender Start Date Last Login Time  Salary  Bonus %  \
2      Maria  Female  4/23/1993        11:17 AM  130590   11.858
3      Jerry    Male   3/4/2005         1:00 PM  138705    9.340
4      Larry    Male  1/24/1998         4:47 PM  101004    1.389

  Senior Management             Team
2             False          Finance
3              True          Finance
4              True  Client Services

In [10]:
print(df.loc[7])#To get particular values through row identification

First Name                 NaN
Gender                  Female
Start Date           7/20/2015
Last Login Time       10:43 AM
Salary                   45906
Bonus %                 11.598
Senior Management          NaN
Team                   Finance
Name: 7, dtype: object

In [47]:
import pandas as pd
import numpy as np

d=pd.read_csv(r"C:\Users\TCS\Videos\ML\Load\employees - employees.csv")
df=pd.DataFrame(d)
print(df)

#print(df.loc[8])
print(d.loc[d['Salary']==4])

    First Name  Gender  Start Date Last Login Time  Salary  Bonus %  \
0      Douglas    Male    8/6/1993        12:42 PM   97308    6.945
1       Thomas    Male   3/31/1996         6:53 AM   61933    4.170
2        Maria  Female   4/23/1993        11:17 AM  130590   11.858
3        Jerry    Male    3/4/2005         1:00 PM  138705    9.340
4        Larry    Male   1/24/1998         4:47 PM  101004    1.389
..         ...     ...         ...             ...     ...      ...
995      Henry     NaN  11/23/2014         6:09 AM  132483   16.655
996    Phillip    Male   1/31/1984         6:30 AM   42392   19.675
997    Russell    Male   5/20/2013        12:39 PM   96914    1.421
998      Larry    Male   4/20/2013         4:45 PM   60500   11.985
999     Albert    Male   5/15/2012         6:24 PM  129949   10.169

    Senior Management                  Team
0                True             Marketing
1                True                   NaN
2               False               Finance
3                True               Finance
4                True       Client Services
..                ...                   ...
995             False          Distribution
996             False               Finance
997             False               Product
998             False  Business Development
999              True                 Sales

[1000 rows x 8 columns]
Empty DataFrame
Columns: [First Name, Gender, Start Date, Last Login Time, Salary, Bonus %, Senior Management, Team]
Index: []

In [48]:
df=d['Bonus %']/5
print(df) #Calculating Bonus Average

0      1.3890
1      0.8340
2      2.3716
3      1.8680
4      0.2778
        ...
995    3.3310
996    3.9350
997    0.2842
998    2.3970
999    2.0338
Name: Bonus %, Length: 1000, dtype: float64