In [2]:
import pandas as pd
d=pd.DataFrame()
print(d)#creating empty data set

Empty DataFrame
Columns: []
Index: []

In [12]:
per=pd.Series(['Pal','Rock','Bad'])
id=pd.Series([1,2,3])
res={'PER':per,'ID':id}
result=pd.DataFrame(res)
print(result)

    PER  ID
0   Pal   1
1  Rock   2
2   Bad   3

In [13]:
print(result['PER']) #Extracting one column

0     Pal
1    Rock
2     Bad
Name: PER, dtype: object

In [15]:
result['Age']=pd.Series([35,24,20])
print(result)
#Adding a column

    PER  ID  Age
0   Pal   1   35
1  Rock   2   24
2   Bad   3   40

In [17]:
del result['Age']
print(result)
#Deleting a column

    PER  ID
0   Pal   1
1  Rock   2
2   Bad   3

In [18]:
print(result.loc[0])#Extracting the 1st row

PER    Pal
ID       1
Name: 0, dtype: object

In [19]:
print(result[1:3])#Slicing

    PER  ID
1  Rock   2
2   Bad   3

In [18]:
import pandas as pd
d2=pd.DataFrame([['Mark',10],['Ross',11]],columns=['Name','ID'])
print(d2)#Adding new rows
print(d2.drop(1))

   Name  ID
0  Mark  10
1  Ross  11
   Name  ID
0  Mark  10

In [ ]:


////////////////////////////////////////////////////////////////////////////////

In [ ]:
27.07.2024                             DATA FRAME- FUNCTIONS

In [19]:
import numpy as np
import pandas as pd
info=pd.DataFrame([[2,7]]*3,columns=['P','Q'])
print(info) #Creating a data frame

   P  Q
0  2  7
1  2  7
2  2  7

In [20]:
print(info.apply(np.sqrt))#Square root

          P         Q
0  1.414214  2.645751
1  1.414214  2.645751
2  1.414214  2.645751

In [27]:
print(info.apply(np.sum,axis=0)) #Sum of each column
print(info.apply(np.sum,axis=1)) #Sum of each row

P     6
Q    21
dtype: int64
0    9
1    9
2    9
dtype: int64

In [28]:
num=pd.DataFrame([[1,5,7],[2,7,8],[3,6,9]],columns=['X','Y','Z'])
print(num)
print(num.agg(['min','max'])) # Maximum and Minimum

   X  Y  Z
0  1  5  7
1  2  7  8
2  3  6  9
     X  Y  Z
min  1  5  7
max  3  7  9

In [37]:
d=pd.DataFrame([['Dale',123],['Mark',143],['Rock',150]],columns=['Emp','ID'])
print(d)
d['Age']=[23,24,21]#Creating new column
print(d)
d2=d.assign(Grade=[7,7.7,8])
print(d2)#Creating new column

    Emp   ID
0  Dale  123
1  Mark  143
2  Rock  150
    Emp   ID  Age
0  Dale  123   23
1  Mark  143   24
2  Rock  150   21
    Emp   ID  Age  Grade
0  Dale  123   23    7.0
1  Mark  143   24    7.7
2  Rock  150   21    8.0

In [43]:
#SORT FUNCTION
info=pd.DataFrame(np.random.randn(5,2),index=[3,2,0,4,1],columns=['col3','col4'])
print(info)

srt=info.sort_index() #Sorting through index
print(srt)

srt2=info.sort_values(by='col3')
print(srt2)#Sort through numericals

       col3      col4
3  1.582669  1.224853
2 -0.111798  0.985797
0  2.267390 -0.333678
4  0.799563  0.439787
1 -1.691900 -0.153852
       col3      col4
0  2.267390 -0.333678
1 -1.691900 -0.153852
2 -0.111798  0.985797
3  1.582669  1.224853
4  0.799563  0.439787
       col3      col4
1 -1.691900 -0.153852
2 -0.111798  0.985797
4  0.799563  0.439787
3  1.582669  1.224853
0  2.267390 -0.333678

In [50]:
#MERGE
left=pd.DataFrame({'id':[1,2,3,4,5],'Name':['Alex','Amy','Allen','Alice','Ayoung'],'sub':['sub1','sub2','sub4','sub6','sub5']})
print(left)

   id    Name   sub
0   1    Alex  sub1
1   2     Amy  sub2
2   3   Allen  sub4
3   4   Alice  sub6
4   5  Ayoung  sub5

In [57]:
r=pd.DataFrame({'id':[1,2,3,4,5],'Name':['Billy','Brain','Bran','Bryce','Betty'],'sub':['sub2','sub4','sub3','sub6','sub5']})
print(r)

   id   Name   sub
0   1  Billy  sub2
1   2  Brain  sub4
2   3   Bran  sub3
3   4  Bryce  sub6
4   5  Betty  sub5

In [58]:
print(pd.merge(left,r,on='id'))

   id  Name_x sub_x Name_y sub_y
0   1    Alex  sub1  Billy  sub2
1   2     Amy  sub2  Brain  sub4
2   3   Allen  sub4   Bran  sub3
3   4   Alice  sub6  Bryce  sub6
4   5  Ayoung  sub5  Betty  sub5

In [ ]:
////////////////////////////////////////////////  PANDA SERIES /////////////////////

In [60]:
import numpy as np
import pandas as pd
arr=np.array(['p','a','n']) #Creating Series as Arrays
a=pd.Series(arr)
print(a)

0    p
1    a
2    n
dtype: object

In [62]:
arr1={'x':0,'y':1,'z':2} #Creating Series from dictionary
b=pd.Series(arr1)
print(b)

x    0
y    1
z    2
dtype: int64

In [63]:
arr2=pd.Series(4,index=[0,1,2,3])#Series using scalar
print(arr2)

0    4
1    4
2    4
3    4
dtype: int64

In [64]:
c=pd.Series([1,2,3],index=['p','d','f'])#Series through index
print(c)

p    1
d    2
f    3
dtype: int64

In [66]:
o=pd.Series(data=[1,2,3,4])
print(o)
print("index:",o.index)
print("values:",o.values)
print("shape:",o.shape)
print("ndim:",o.ndim)
print("size:",o.size)

0    1
1    2
2    3
3    4
dtype: int64
index: RangeIndex(start=0, stop=4, step=1)
values: [1 2 3 4]
shape: (4,)
ndim: 1
size: 4